<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title th:text="${titlee}" />
</head>
<body>
<div th:insert="blocks/header :: header"></div>

<p th:text="'Hello, ' + ${welcome} +'!'"  class="container mt-7"/>

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>


