<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="blocks/head :: head"></head>
<body>
    <div th:insert="blocks/header :: header"></div>

    <div class="container mt-5">
        <h1 class="mt-5">ITReuvenBlog</h1>
        <div th:each="el : ${posts}" class="alert alert-info mt-3 mb-1">
            <h3 th:text="${el.title}"></h3>
            <p th:text="${el.anons}"></p>
            <p>Author:  <span th:text="${el.authorName}"></span></p>
            <a th:href="'/blog/' + ${el.id}" class="btn btn-warning btn-outline-primary">Show full text</a>
            <a th:href="'/blog/' + ${el.id} + '/delete'" class="btn btn-warning ">delete</a>
        </div>
    </div>

    <div th:insert="blocks/footer :: footer"></div>
    <div th:insert="blocks/bootstrapScript :: bootstrapScript"></div>
</body>
</html>


