<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:insert="blocks/head :: head"></head>
<body>
<div th:insert="blocks/header :: header"></div>

<div class="container mt-5">
    <h1 class="mt-5">ADD MESSAGES </h1>
    <form th:action="@{/message/add}" method="post">
        <input type="text" name="text" placeholder="enter message" class="form-control mb-2">
        <input type="text" name="tag" placeholder="tag" class="form-control mb-2">
        <button type="submit" class="btn btn-warning ">ADD</button>
    </form>
</div>

<div class="container mt-5">
    <h1 class="mt-5">MESSAGES </h1>
    <div th:each="el : ${message}" class="alert alert-info mt-3 mb-1">
        <h3 th:text="${el.id}"></h3>
        <h3 th:text="${el.text}"></h3>
        <p th:text="${el.tag}"></p>
        <a th:href="'/message/' + ${el.id} + '/delete'" class="btn btn-warning ">delete</a>
        <b><h3 th:text="${error}"></h3></b>
    </div>
</div>

<div th:insert="blocks/footer :: footer"></div>
<div th:insert="blocks/bootstrapScript :: bootstrapScript"></div>
</body>
</html>